@charset "UTF-8";
@media (max-width: 991px) {
  footer {
    padding: 40px; }
  footer .containerF {
    flex-direction: column; }
  footer .containerF .sec {
    margin-right: 0;
    margin-bottom: 40px; }
  footer .containerF .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%; }
  .copyrightText {
    padding: 8px 40px; } }

/*fin de footer*/
/* vista tablet */
@media (min-width: 768px) {
  .navbar body {
    padding: 40px;
    margin-right: 0;
    margin-bottom: 40px;
    width: 100%; }
  .cardIndex {
    margin-top: 20px;
    padding: 50px; }
  h5 {
    position: relative;
    color: #05e675;
    font-weight: 500;
    margin-bottom: 15px; }
  h5:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #05e675; } }

* {
  font-family: "Quicksand", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: 0.05rem; }

body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  flex-direction: column; }

h2 {
  letter-spacing: 2px; }

p, span, a {
  font-family: "Open Sans", sans-serif; }

h2 {
  letter-spacing: 2px; }

.text-Start {
  text-align: start;
  margin: 20px auto;
  padding: 10px; }

.imagen-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto; }

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px; }

footer .containerF {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

footer .containerF .sec {
  margin-right: 30px; }

footer .containerF .sec.aboutus {
  width: 40px; }

footer .containerF h5 {
  position: relative;
  font-weight: 500;
  margin-bottom: 15px; }

footer .containerF h5:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px; }

.sci {
  margin-top: 20px;
  display: flex; }

.sci li {
  list-style: none; }

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px; }

.sci li a .fa {
  font-size: 20px; }

.quick-links {
  position: relative;
  width: 25%; }

.quickLinks ul li {
  list-style: none; }

.quickLinks ul li a {
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block; }

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important; }

.contact .info {
  position: relative; }

.contact .info li {
  display: flex;
  margin-bottom: 16px; }

.contact .info li span:nth-child(1) {
  font-size: 20px;
  margin-right: 10px; }

.contact .info li a {
  text-decoration: none; }

.copyright-text {
  width: 100%;
  padding: 8px 100px;
  text-align: center; }

.navbar-nav li a:hover {
  border-radius: 3px; }

.navbar {
  background-color: #CCD1D1; }
  .navbar .navbar__enlace--logo {
    color: #111; }

body {
  background-color: white; }

p {
  color: gray; }

.nota__titulo {
  padding: 10px; }

.nota--color {
  color: white; }

.nota__titulo {
  background-color: #a7f7ec; }

footer {
  background-color: #111; }

.containerF {
  background-color: #111; }

footer .containerF h5 {
  color: #fff; }

footer .containerF h5:before {
  background: #04F0BA; }

footer p {
  color: #999; }

.sci li a {
  background: #222; }

.sci li a:hover {
  background: #04F0BA; }

.sci li a .fa {
  color: #fff; }

.quick-links ul li a {
  color: #999; }

.quick-links ul li a:hover {
  color: #fff; }

.contact .info li span:nth-child(1) {
  color: #fff; }

.contact .info li span {
  color: #999; }

.contact .info li a {
  color: #999; }

.contact .info li a:hover {
  color: #fff; }

.copyright-text {
  background: #111;
  color: #999; }

.navbar-nav li a:hover {
  background-color: #04F0BA; }

.btn-color {
  background-color: #04F0BA;
  color: #fff; }

@media (max-width: 991px) {
  footer {
    padding: 40px; }
  footer .containerF {
    flex-direction: column; }
  footer .containerF .sec {
    margin-right: 0;
    margin-bottom: 40px; }
  footer .containerF .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%; }
  .copyrightText {
    padding: 8px 40px; } }

/*fin de footer*/
/* vista tablet */
@media (min-width: 768px) {
  .navbar body {
    padding: 40px;
    margin-right: 0;
    margin-bottom: 40px;
    width: 100%; }
  .cardIndex {
    margin-top: 20px;
    padding: 50px; }
  h5 {
    position: relative;
    color: #05e675;
    font-weight: 500;
    margin-bottom: 15px; }
  h5:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #05e675; } }

* {
  font-family: "Quicksand", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: 0.05rem; }

body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  flex-direction: column; }

h2 {
  letter-spacing: 2px; }

p, span, a {
  font-family: "Open Sans", sans-serif; }

h2 {
  letter-spacing: 2px; }

.text-Start {
  text-align: start;
  margin: 20px auto;
  padding: 10px; }

.imagen-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto; }

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px; }

footer .containerF {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

footer .containerF .sec {
  margin-right: 30px; }

footer .containerF .sec.aboutus {
  width: 40px; }

footer .containerF h5 {
  position: relative;
  font-weight: 500;
  margin-bottom: 15px; }

footer .containerF h5:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px; }

.sci {
  margin-top: 20px;
  display: flex; }

.sci li {
  list-style: none; }

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px; }

.sci li a .fa {
  font-size: 20px; }

.quick-links {
  position: relative;
  width: 25%; }

.quickLinks ul li {
  list-style: none; }

.quickLinks ul li a {
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block; }

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important; }

.contact .info {
  position: relative; }

.contact .info li {
  display: flex;
  margin-bottom: 16px; }

.contact .info li span:nth-child(1) {
  font-size: 20px;
  margin-right: 10px; }

.contact .info li a {
  text-decoration: none; }

.copyright-text {
  width: 100%;
  padding: 8px 100px;
  text-align: center; }

.navbar-nav li a:hover {
  border-radius: 3px; }

@media (max-width: 991px) {
  footer {
    padding: 40px; }
  footer .containerF {
    flex-direction: column; }
  footer .containerF .sec {
    margin-right: 0;
    margin-bottom: 40px; }
  footer .containerF .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%; }
  .copyrightText {
    padding: 8px 40px; } }

/*fin de footer*/
/* vista tablet */
@media (min-width: 768px) {
  .navbar body {
    padding: 40px;
    margin-right: 0;
    margin-bottom: 40px;
    width: 100%; }
  .cardIndex {
    margin-top: 20px;
    padding: 50px; }
  h5 {
    position: relative;
    color: #05e675;
    font-weight: 500;
    margin-bottom: 15px; }
  h5:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #05e675; } }

@media (max-width: 991px) {
  footer {
    padding: 40px; }
  footer .containerF {
    flex-direction: column; }
  footer .containerF .sec {
    margin-right: 0;
    margin-bottom: 40px; }
  footer .containerF .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%; }
  .copyrightText {
    padding: 8px 40px; } }

/*fin de footer*/
/* vista tablet */
@media (min-width: 768px) {
  .navbar body {
    padding: 40px;
    margin-right: 0;
    margin-bottom: 40px;
    width: 100%; }
  .cardIndex {
    margin-top: 20px;
    padding: 50px; }
  h5 {
    position: relative;
    color: #05e675;
    font-weight: 500;
    margin-bottom: 15px; }
  h5:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #05e675; } }

* {
  font-family: "Quicksand", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: 0.05rem; }

body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  flex-direction: column; }

h2 {
  letter-spacing: 2px; }

p, span, a {
  font-family: "Open Sans", sans-serif; }

h2 {
  letter-spacing: 2px; }

.text-Start {
  text-align: start;
  margin: 20px auto;
  padding: 10px; }

.imagen-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto; }

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px; }

footer .containerF {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

footer .containerF .sec {
  margin-right: 30px; }

footer .containerF .sec.aboutus {
  width: 40px; }

footer .containerF h5 {
  position: relative;
  font-weight: 500;
  margin-bottom: 15px; }

footer .containerF h5:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px; }

.sci {
  margin-top: 20px;
  display: flex; }

.sci li {
  list-style: none; }

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px; }

.sci li a .fa {
  font-size: 20px; }

.quick-links {
  position: relative;
  width: 25%; }

.quickLinks ul li {
  list-style: none; }

.quickLinks ul li a {
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block; }

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important; }

.contact .info {
  position: relative; }

.contact .info li {
  display: flex;
  margin-bottom: 16px; }

.contact .info li span:nth-child(1) {
  font-size: 20px;
  margin-right: 10px; }

.contact .info li a {
  text-decoration: none; }

.copyright-text {
  width: 100%;
  padding: 8px 100px;
  text-align: center; }

.navbar-nav li a:hover {
  border-radius: 3px; }

.navbar {
  background-color: #CCD1D1; }
  .navbar .navbar__enlace--logo {
    color: #111; }

body {
  background-color: white; }

p {
  color: gray; }

.nota__titulo {
  padding: 10px; }

.nota--color {
  color: white; }

.nota__titulo {
  background-color: #a7f7ec; }

footer {
  background-color: #111; }

.containerF {
  background-color: #111; }

footer .containerF h5 {
  color: #fff; }

footer .containerF h5:before {
  background: #04F0BA; }

footer p {
  color: #999; }

.sci li a {
  background: #222; }

.sci li a:hover {
  background: #04F0BA; }

.sci li a .fa {
  color: #fff; }

.quick-links ul li a {
  color: #999; }

.quick-links ul li a:hover {
  color: #fff; }

.contact .info li span:nth-child(1) {
  color: #fff; }

.contact .info li span {
  color: #999; }

.contact .info li a {
  color: #999; }

.contact .info li a:hover {
  color: #fff; }

.copyright-text {
  background: #111;
  color: #999; }

.navbar-nav li a:hover {
  background-color: #04F0BA; }

.btn-color {
  background-color: #04F0BA;
  color: #fff; }

@media (max-width: 991px) {
  footer {
    padding: 40px; }
  footer .containerF {
    flex-direction: column; }
  footer .containerF .sec {
    margin-right: 0;
    margin-bottom: 40px; }
  footer .containerF .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%; }
  .copyrightText {
    padding: 8px 40px; } }

/*fin de footer*/
/* vista tablet */
@media (min-width: 768px) {
  .navbar body {
    padding: 40px;
    margin-right: 0;
    margin-bottom: 40px;
    width: 100%; }
  .cardIndex {
    margin-top: 20px;
    padding: 50px; }
  h5 {
    position: relative;
    color: #05e675;
    font-weight: 500;
    margin-bottom: 15px; }
  h5:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #05e675; } }

* {
  font-family: "Quicksand", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: 0.05rem; }

body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  flex-direction: column; }

h2 {
  letter-spacing: 2px; }

p, span, a {
  font-family: "Open Sans", sans-serif; }

h2 {
  letter-spacing: 2px; }

.text-Start {
  text-align: start;
  margin: 20px auto;
  padding: 10px; }

.imagen-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto; }

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px; }

footer .containerF {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

footer .containerF .sec {
  margin-right: 30px; }

footer .containerF .sec.aboutus {
  width: 40px; }

footer .containerF h5 {
  position: relative;
  font-weight: 500;
  margin-bottom: 15px; }

footer .containerF h5:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px; }

.sci {
  margin-top: 20px;
  display: flex; }

.sci li {
  list-style: none; }

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px; }

.sci li a .fa {
  font-size: 20px; }

.quick-links {
  position: relative;
  width: 25%; }

.quickLinks ul li {
  list-style: none; }

.quickLinks ul li a {
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block; }

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important; }

.contact .info {
  position: relative; }

.contact .info li {
  display: flex;
  margin-bottom: 16px; }

.contact .info li span:nth-child(1) {
  font-size: 20px;
  margin-right: 10px; }

.contact .info li a {
  text-decoration: none; }

.copyright-text {
  width: 100%;
  padding: 8px 100px;
  text-align: center; }

.navbar-nav li a:hover {
  border-radius: 3px; }

.nota__color:nth-child(1) {
  color: white;
  font-size: 20px;
  background-color: #029674;
  padding: 10px; }

.nota__color:nth-child(2) {
  color: white;
  font-size: 20px;
  background-color: #013b2e;
  padding: 10px; }

.nota__color:nth-child(3) {
  color: white;
  font-size: 20px;
  background-color: black;
  padding: 10px; }

.nota__color:nth-child(4) {
  color: white;
  font-size: 20px;
  background-color: black;
  padding: 10px; }

.nota__color:nth-child(5) {
  color: white;
  font-size: 20px;
  background-color: black;
  padding: 10px; }

.card__diseño {
  border-radius: 1%;
  box-shadow: 5px 5px 15px #111;
  padding: 5px;
  margin-bottom: 30px; }

.imagen--bordes {
  border-radius: 6%;
  padding: 20px; }
