@import "colores";
@import "tamanios";

@mixin estiloTitulares($colorLetra , $medidaFuente){
    font-family: 'Quicksand', sans-serif;
    font-size: $medidaFuente;
    color:$colorLetra;
    background-color:$blanco;
}

