@import "responsive";
$flex:flex;
$flex-end:flex-end;
$center:center;
$min-height:100vh;
$column:column;
$letter-spacing:2px;
$font-titulo:'Quicksand', sans-serif;
$margin:0%;
$padding:0%;
$box-sizing:border-box;
$border:.05rem;
$font-textos:'Open Sans', sans-serif;
$letter-spacing:2px;
$text-align:start;
$margin20:20px auto;
$padding10:10px;
$width:100%;
$padding-right:0px;
$padding-left:0px;
$margin-right:auto;
$margin-left:auto;
$medidaFuente:20px;

    $position:relative;
    $widthfooter:100%;
    $heightfooter:auto;
    $padding50:50px 100px;
    $displayfooter:flex;
    $justify-content:space-between;
    $flex-wrap:wrap;
    $margin-top:30px;

        $flex-direction:row;
        $margin-right30:30px;
        $width40:40%;
        $font-weight:500;
        $margin-bottom:15px;
        $content:'';
        $positionabsolute: absolute;
        $bottom:-5px;
        $left: 0;
        $width50:50px;
        $height:2px;
        $margin-top20:20px;
        $list-style:none;
        $positionrelative:relative;

            $display-inline:inline-block;
            $width40:40px;
            $height40:40px;
            $margin-right10:10px;
            $text-decoration:none;
            $border-radius:4px;
            $font-size: 20px;
            $width25: 25%;
            $margin-bottom10: 10px;

                $widthcalc: calc(35% - 60px);
                $margin-right0: 0 !important;
                $margin-bottom16: 16px;

                $width100:100%;
                $padding8:8px 100px;     
                $border-radius3:3px;


*{
    font-family:$font-titulo;
    margin:$margin;
    padding:$padding;
    box-sizing:$box-sizing;
    border:$border;
}

body{
    display:$flex;
    justify-content:$flex-end;
    align-items:$center;
    min-height:$min-height;
    flex-direction:$column;
    padding: $padding;
}

h2 {
    letter-spacing: $letter-spacing; }
    p, span, a{
        font-family:$font-textos;
    }
    h2{
        letter-spacing:$letter-spacing;
       }
       .text-Start{
        text-align:$text-align;
        margin:$margin20;
        padding:$padding10;
    }
    .imagen-fluid {
        width:$width;
        padding-right:$padding-right;
        padding-left:$padding-left;
        margin-right:$margin-right;
        margin-left:$margin-left;
    }
    .text-subtitulo{
        font-size: 1.6rem;
        font-family: $font-textos;
    }
    .container{
        padding: $padding;
    }
    .container-fluid{
        padding: $padding;
    }